<h1 align="center">New Student</h1>
<div>
  <p><strong>
    Please take my Survey
  </strong></p>
    [ <%= link_to 'Take Survey', new_survey_path %> ]
</div><br>

<%= render 'form' %>

<%= link_to 'Back', students_path %>
