<div class="centre jumbotron">
    <h1>College</h1>
  <%= link_to "Sign up now", " signup", class:"btn btn-primary btn-lg btn-xlarge" %>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Please Take My<br>Survey Here</h3>
        <p>...</p>
        <%= link_to 'Take Survey', new_survey_path, class: 'btn btn-primary btn-lg' %>

      </div>
    </div>
  </div>

  <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Take a look at<br>all our courses</h3>
        <p>...</p>
        <%= link_to 'Courses', courses_url, class: 'btn btn-primary btn-lg' %>
      </div>
    </div>
  </div>


  <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

</div>
