<h1 align="center">Please take my survey:</h1>
<p align="center"><strong>All infomation is confidential</strong></p>
<p align="center"><strong>No id's or names recorded in database</strong></p><br><br>

<%= render 'form' %>

<%= link_to 'Back', surveys_path %>
